<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover-5.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Giau Minh</h1>
                <p class="text-white mt-0 mb-5">Technology is dominated by two types of people: those who understand what they do not manage, and those who manage what they do not understand.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row justify-content-md-center">
        <div class="col-xl-6 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a target="_blank" href="https://giauminh.netlify.app/">
                                <img src="assets/img/theme/team-5-800x800.jpg" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                    </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                <div class="social__item">
                                    <a target="_blank" href="https://facebook.com/giau.minh.7" class="social__icon--facebook"><i class="icon--facebook"></i></a>
                                </div>
                                <div class="social__item">
                                    <a target="_blank" href="https://github.com/minhgiau998" class="social__icon--github"><i class="icon--github"></i></a>
                                </div>
                                <div class="social__item">
                                    <a target="_blank" href="https://twitter.com/minhgiau0404" class="social__icon--twitter"><i class="icon--twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3>
                            Giau Minh<span class="font-weight-light">, 22</span>
                        </h3>
                        <div class="h5 font-weight-300">
                            <i class="ni location_pin mr-2"></i>Ho Chi Minh City, Vietnam
                        </div>
                        <div class="h5 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>Freelancer
                        </div>
                        <div>
                            <i class="ni education_hat mr-2"></i>FPT University - Information Assurance
                        </div>
                        <hr class="my-4" />
                        <p>Sở thích: Chơi game, nghe nhạc, đọc sách, viết lách.</p>
                        <a target="_blank" href="https://giauminh.netlify.app/">Show more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading-bar [color]="'red'"></ngx-loading-bar>