<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="card card-stats mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">TRACEROUTE</h5>
                                    <span class="h2 font-weight-bold mb-0">Free</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-red text-white rounded-circle shadow">
                                        <i class="ni ni-send"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                Traceroute là công cụ kiểm tra mạng được sử dụng để kiểm tra các bước nhảy mà giao tiếp sẽ theo trên mạng IP.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="card card-stats mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">DNS LOOKUP</h5>
                                    <span class="h2 font-weight-bold mb-0">Free</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                                        <i class="ni ni-building"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                DNS Lookup là công cụ xác định địa chỉ IP của tên miền chính (bản ghi A), máy chủ thư (bản ghi MX), máy chủ DNS (máy chủ tên NS), etc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="card card-stats mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">GEO IP</h5>
                                    <span class="h2 font-weight-bold mb-0">Free</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                                        <i class="ni ni-world"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                Geo IP cho phép định vị địa lý của IP liên quan đến việc khám phá vị trí của địa chỉ IP của bất kỳ tổ chức nào trong thế giới thực.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="card card-stats mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">HTTP HEADER</h5>
                                    <span class="h2 font-weight-bold mb-0">Free</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                        <i class="ni ni-align-left-2"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                HTTP Header thu thập tên tiêu đề HTTP từ máy chủ. Phần mềm phía máy chủ có thể xác định được phiên bản chính xác đang chạy.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="card card-stats mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">PAGE LINK</h5>
                                    <span class="h2 font-weight-bold mb-0">Free</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-purple text-white rounded-circle shadow">
                                        <i class="ni ni-world-2"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                Tìm những gì mà các trang liên kết với công cụ này. Liên kết bên trong và bên ngoài sẽ được hiển thị với công cụ thu thập thông tin này.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="card card-stats mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">PORT SCAN</h5>
                                    <span class="h2 font-weight-bold mb-0">Free</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-teal text-white rounded-circle shadow">
                                        <i class="ni ni-istanbul"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                Quét cổng TCP đơn giản để nhanh chóng xác định trạng thái của dịch vụ hoặc tường lửa. Sử dụng trình quét cổng Nmap mạnh mẽ.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="card card-stats mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">TEST PING</h5>
                                    <span class="h2 font-weight-bold mb-0">Free</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gray text-white rounded-circle shadow">
                                        <i class="ni ni-chart-bar-32"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                Công cụ kiểm tra ping được sử dụng để xác định kết nối và thời gian phản hồi của máy chủ được kết nối Internet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4">
                    <div class="card card-stats mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">WHOIS</h5>
                                    <span class="h2 font-weight-bold mb-0">Free</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-cyan text-white rounded-circle shadow">
                                        <i class="ni ni-collection"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                Thực hiện tra cứu Whois trực tuyến về tên miền hoặc địa chỉ IP để tìm chủ sở hữu đã đăng ký, netblock, ASN và ngày đăng ký.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Giới thiệu</h1>
                <p class="lead">Khái niệm về <strong>kiểm thử xâm nhập</strong> đã không còn xa lạ gì đối với các hacker 'mũ trắng' hay các nhà bảo mật hệ thống. Trong các bước về kiểm tra xâm nhập thì bước đầu tiên và cũng là bước quan trọng nhất - <strong>thu thập thông tin</strong>                    sẽ thu thập các thông tin quan trọng về mục tiêu như <strong>địa chỉ IP, mạng, trang web, cổng dịch vụ</strong>. Trang web đã tích hợp hầu hết các công cụ cho phép thu thập thông tin của mục tiêu bất kỳ.</p>
                <p class="lead"><strong>Lưu ý:</strong> Trang web được xây dựng với mục đích học tập, nghiên cứu về bảo mật. Mình hoàn toàn không chịu trách nhiệm cho bất kỳ hành vi phạm pháp nào!</p>
                <hr class="my-4">
                <p>Trang web đã sử dụng các công nghệ và thư viện bên thứ ba mã nguồn mở, các bạn có thể tham khảo danh sách được liệt kê dưới đây:</p>
                <p class="lead">
                    <a class="btn btn-danger btn-lg" href="https://angular.io/" target="blank" role="button">Angular</a>
                    <a class="btn btn-success btn-lg" href="https://hackertarget.com/" target="blank" role="button">Hacker Target</a>
                    <a class="btn btn-default btn-lg" href="https://freegeoip.app/" target="blank" role="button">Geo IP</a>
                    <a class="btn btn-info btn-lg" href="https://www.netlify.com/" target="blank" role="button">Netlify</a>
                </p>
            </div>
        </div>
    </div>
</div>
<ngx-loading-bar [color]="'red'"></ngx-loading-bar>