<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6 mb-4">
          <div class="card card-stats mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    TRACEROUTE
                  </h5>
                  <span class="h2 font-weight-bold mb-0">Free</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-red text-white rounded-circle shadow"
                  >
                    <i class="ni ni-send"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <div class="card card-stats mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    DNS LOOKUP
                  </h5>
                  <span class="h2 font-weight-bold mb-0">Free</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-green text-white rounded-circle shadow"
                  >
                    <i class="ni ni-building"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <div class="card card-stats mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    GEO IP
                  </h5>
                  <span class="h2 font-weight-bold mb-0">Free</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-blue text-white rounded-circle shadow"
                  >
                    <i class="ni ni-world"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <div class="card card-stats mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    HTTP HEADER
                  </h5>
                  <span class="h2 font-weight-bold mb-0">Free</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-orange text-white rounded-circle shadow"
                  >
                    <i class="ni ni-align-left-2"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <div class="card card-stats mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    PAGE LINK
                  </h5>
                  <span class="h2 font-weight-bold mb-0">Free</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-purple text-white rounded-circle shadow"
                  >
                    <i class="ni ni-world-2"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <div class="card card-stats mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    PORT SCAN
                  </h5>
                  <span class="h2 font-weight-bold mb-0">Free</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-teal text-white rounded-circle shadow"
                  >
                    <i class="ni ni-istanbul"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <div class="card card-stats mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    TEST PING
                  </h5>
                  <span class="h2 font-weight-bold mb-0">Free</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gray text-white rounded-circle shadow"
                  >
                    <i class="ni ni-chart-bar-32"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
          <div class="card card-stats mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    WHOIS
                  </h5>
                  <span class="h2 font-weight-bold mb-0">Free</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-cyan text-white rounded-circle shadow"
                  >
                    <i class="ni ni-collection"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to iftools 👋</h1>
        <p class="lead">
          <strong>iftools</strong> is an information gathering toolkit
          integrated with Hacker Target's API. This toolkit allows us to use the
          free and open source Hacker Target tools with a limit of 1000 queries
          per day. Here are the 3rd party frameworks - libraries this site has
          used:
        </p>
        <a
          class="badge badge-danger mr-2"
          href="https://angular.io/"
          target="blank"
        >
          Angular
        </a>
        <a
          class="badge badge-success mr-2"
          href="https://hackertarget.com/"
          target="blank"
        >
          Hacker Target
        </a>
        <a
          class="badge badge-primary mr-2"
          href="https://freegeoip.app/"
          target="blank"
        >
          Free Geo IP
        </a>
        <a
          class="badge badge-default mr-2"
          href="https://vercel.com/"
          target="blank"
        >
          Vercel
        </a>
        <a
          class="badge badge-info"
          href="https://www.creative-tim.com/"
          target="blank"
        >
          Creative Tim
        </a>
        <hr class="my-4" />
        <p>
          <strong>⚠️ Note:</strong> The website is built for the purpose of
          learning and researching about security. I am not responsible for any
          illegal activity at all!
        </p>
      </div>
    </div>
  </div>
</div>
<ngx-loading-bar [color]="'red'"></ngx-loading-bar>
